<style>
body {
  background-color: orange;
}
</style>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="row pb-3">
        <%= link_to home_path do  %>
          <i class="fas fa-home text-muted" style="font-size: 1.9em;"></i>
        <% end %>
      </div>
      <div class="row pb-3">
        <i class="fas fa-user-alt fa-2x"></i>
      </div>
      <div class="row pb-3">
        <i class="fas fa-cog fa-2x"></i>
      </div>
      <div class="row pb-3">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt fa-2x text-muted"></i>
        <% end %>
      </div>
    </div>

    <div class="col-10 bg-primary">
      <p>Center</p>
    </div>

    <div class="col bg-info">
      <p>Right</p>
    </div>
  </div>
</div>
